html
{
  /* transform-origin: 0% 0%; */
   /*       background-color: #48363600 !important;
   background-color: rgba(28, 27, 34, 1) !important;
   background: #01020300 !important;*/
}

@font-face {
    font-family: "MaterialBigDesign";
    src: url("./../Fonts/materialdesignicons-webfont.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "MaterialRegul";
    src: url("./../Fonts/MaterialIcons-Regular.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "FontAweSome";
    src: url("./../Fonts/fontawesome-webfont.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "CresHVAC";
    src: url("./../Fonts/chvc.ttf");
    font-weight: bold;
}

.assetMaterFontIcon
{
font-family: "MaterialRegul", serif;
}
.assetMaterBigDesignFontIcon
{
font-family: "MaterialBigDesign", serif;
}

.assetCresHVACFontIcon
{
font-family: "CresHVAC", serif;
}

.assetIconRoundBox
{
display: block;
border-radius: 65%;
box-shadow: 1px 3px 2px #000; 
text-shadow: 1px 3px 4px #0d0c0ced;
background: #fcfbfb26;
color: #b2afaf;
}
/*position: absolute;
width: 53px;
height: 53px;  
font-size: 34px; 
text-align: center;*/
.roundBoxSelected
{
border: ridge 3px red;
}
.reproIsPlaying
{
color: #90e908 !important;
}
.fanIsRunning
{
color: #1cf4ff !important;
}
.lehceYellow
{
background-color: #ffef00 !important;
}
.lehceYellowSVG
{
fill:  #ffef00 !important;
}
.lehceGreen
{
background-color: #1afa1a;
border-radius: 5px;
}
.selRamec {
	border: inset 1px red;
}
.selBulShitRamec {
	border: inset 1px purple;
}
.REDrum {
	border: outset 1px red;
}
.REDrumSolid {
	border: solid 1px red;
}
.BLUrumSolid {
	border: solid 1px blue;
}
.GRENatenRum {
	border: outset 1px  #00FF00;
}
.DashedGreenSoft
{
border: dashed 1px #00FF0087;
}
.selRamecOUT {
	border: outset 1px lightblue;
}
.lehounkyyramecek {
	border: outset 1px blue;
	position: inherit;
}
.lehounkyZlyRaamecek {
	border: outset 1px green;
	position: inherit;
}
.borderGreyDashed
{
border: dashed 1px #a2a2d2;
}
.borderRedDashed
{
border: dashed 1px red;
}
.dbgButs
{
text-shadow: 1px 2px 3px #0d0c0ced;
font-weight: bold;
}
.BubuKraames {
	border: outset 2px red;
	/*background-color: rgb(255, 0, 0, 0.88);
*/
	background-color: rgba(124, 225, 178, 0.92);
	transition: background-color 500ms linear 0ms;
	border-radius: 2px;
}
.ManuKraames {
	border: outset 3px #17CA988F;
	background-color: rgb(255, 0, 0, 0.98);
	text-shadow: 1px 1px 2px #0d0c0ced, 1px 1px 5px #b9b7b7;
	font-weight: bold;
	letter-spacing: 3px;
	transition: background-color 500ms linear 0ms;
	border-radius: 5px;
}
#overwaitka {
	/*opacity: 0.72;
	display: block;
*/
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #000000CF;
	height: 100%;
	min-width: 100%;
	z-index: 65;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#overwaitka > div {
	min-width: 100px;
	margin: 2px;
	text-align: center;
	font-weight: bold;
	line-height: 42px;
	font-size: 40px;
	color: #FFFFFF;
}
.fewKoproler {
	display: flex;
	flex-direction: row;
	opacity: 0.72;
	position: fixed;
	height: 70px;
	bottom: 2px;

	z-index: 76;
	border: outset 2px greenyellow;
}
.fewKoproler > button {
	min-width: 78px;
	max-width: 80px;
}
.fewKoproler > button:active {
	background-color: #0067C1;
	color: #FAFAFA;
	border: outset 2px black;
	box-shadow: 1px 2px 2px 2px #000 inset;
	border-radius: 2px;
	text-shadow: 1px 1px 2px black;
	letter-spacing: 1px;
	font-weight: bold;
}
#TxtAmbrela {
	width: 295px;
	font-size: inherit;
	/*height: 478px;
	z-index: 10;
	left: 1224px;
	top: 457px;
	position: absolute;
*/
}
.fracci {
	display: inline-flex;
	position: absolute;
	border: outset 1px black;
}
.fracci > button {
	display: block;
	position: absolute;
	background-color: #0007C1;
}
.sprostodacan {
	display: inherit;
	position: absolute;
}
#mozgulovac {
	font-size: inherit;
	text-align: left;
	font-weight: bold;
	letter-spacing: 2px;
	color: greenyellow;
}
#nezhulovac
{
	font-size: inherit;
	text-align: left;
	font-weight: bold;
	letter-spacing: 2px;
	color: greenyellow;

}

.konaan
{
display:block;
position:relative;
width:210px;
height: auto;
}


.NOacti {
	background-color: #f1f1f1;
	color: #000000ff;
}
.ZimpleToged {
	background-color: #495BBD;
	color: #FAFAFA;
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.VystuuplyNeprasenyBut {
	background-color: #8F93A2;
	color: #FAFAFA;
	border: outset 2px black;
	/*border: inset 3px black;
for inkrease egfect sharp but bacground dependand*/
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -3px -3px 3px rgba(0, 0, 0, .8);
	text-shadow: 1px 1px 2px black;
	letter-spacing: 1px;
	font-weight: bold;
	word-break: break-word;
	/*      border-radius: 2px;
	word-break: break-all;
*/
}
.VystuuplyPraslyBut {
	background-color: #0067C1;
	color: #FAFAFA;
	border: outset 2px black;
	/*border: inset 3px black;
for inkrease egfect sharp but bacground dependand*/
	/* box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -3px -3px 3px rgba(0, 0, 0, .8);
*/
	box-shadow: 1px 2px 2px 2px #000 inset;
	border-radius: 6px;
	text-shadow: 1px 1px 2px black;
	letter-spacing: 1px;
	font-weight: bold;
	word-break: break-word;
}
.CrsBuchlonSelfActiv {
	background-color: #000D31;
	color: #f00;
	text-shadow:  2px 3px 3px #000;
	transition: background-color 600ms linear 0ms;
}
.CrsBuchlonSelfActiv > button:active {
	background-color: #ff000054;
	color: #fffffff1;
	text-shadow: 5px 5px 1px #000000e0;
}
.CrasBuchlonsBudker {
	background-color: #0000009F;
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 480px;
overflow: scroll;
}
.CrasBuchlonsBudker > button {
	min-width: 100px;
	margin: 2px;
	text-align: start;
	font-weight: normal;
	line-height: 20px;
	font-size: 18px;
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.CrasBuchlonsBudker > button:hover {
	background-color: greenyellow;
	color: #000000ff;
	text-shadow: 1px 5px 5px #000000a0;
}
.CrasBuchlonsBudker > button:focus {
	background-color: #000D31;
	color: #f00;
	text-shadow:  2px 3px 3px #000;
	transition: background-color 500ms linear 0ms;
}
.CrasSubView {
	background-color: #0000009F;
	color: yellowgreen;
	display: flex;
	flex-direction: column;
	border: inset 2px red;
	width: 50%;
	height: 480px;
	overflow: scroll;

}
.CrasSubView > button {
	min-width: 60px;
	margin: 2px;
	text-align: start;
	font-weight: bold;
	line-height: 20px;
	font-size: 14px;
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.CrasSubView > button:hover {
	background-color: greenyellow;
	color: #000000ff;
	text-shadow: 1px 5px 5px #000000a0;
}
.CrasSubView > button:focus {
	background-color: #000D31;
	color: #f00;
	text-shadow:  2px 3px 3px #000;
	transition: background-color 500ms linear 0ms;
}
#grinder {
    visibility: hidden;
	display: grid;
	/* viaible grid: 150px / auto auto auto;
*/
	grid-template-columns: 180px 180px 180px 180px 180px 180px;
	grid-template-rows: 62px 62px;
	grid-gap: 2px;
	padding-block: 0px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding-inline: 0px;
    z-index: 1;
}
.CompostPArts {
	/*  display: inline-grid;
	width: 90px;
	height: 90px;
*/
	position: relative;
	text-align: center;
	font-weight: normal;
	padding-inline: 0px;
	padding-block: 0px;
	padding: 0px;
	line-height: 16px;
	font-size: 14px;
	text-shadow:  2px 3px 3px #000;
	background-color: #3C3C3C99;
	color: #ffffff7f;
}
#grinder >  button:active {
	background-color: #45A3A899;
	font-weight: bold;
}
/*#grinder >  button:hover {
	background-color: #C6BFBF99;
	font-weight: bold;
}
*/
.SelectedCompostPArt {
	background-color: #C6BFBF99;
	font-weight: bold;
}
.SkrzTvrz {
	background-color: transparent;
	border: transparent;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
	z-index: 1;
	left: 8px;
	top: 237px;
	position: absolute;
	height: 26px;
	width: 66px;
	bottom: 692px;
}
.SkrzTvrz:focus {
	border: solid 2px #FF0000;
}
.SkrzTvrzLIG {
	background-color: transparent;
	/* 
border: solid 1px #003366;
*/
  border-radius: 75%;
	border: transparent;
	color: #FFFFFF;
	font-family: Crestron Lighting-HVAC;
	font-size: 34px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
}
.SkrzTvrzLIG:checked {
	color: #FFFF00;
}
.SkrzTvrzLIG:active {
	color: #FFFF00;
}
    
.BulBaZporici
{
color: #ff0;
 animation-duration: 4s;
   animation-delay: -2s;
     animation-iteration-count: 3;
       animation-iteration-count: infinite;
         animation-direction: alternate; ;    
          /*animation-direction: reverse;*/
}


.HajdenKUSgone {
	display: none;
}
/*  .HajdenKUSinvisible {
	display: hidden;
	@import "navigation.css";
}
*/
.HajdenKUSshow {
	display: block;
}

#ragees
{
	display: block;
	position: absolute;
	left: 1770px;
  top: 445px;
  min-width: 350px;
  width: 350px;
  max-width: 350px;
  transform-origin: 0% 0%;
  transform: rotate(-90deg);
  
	/*border: outset 1px black;
  vertical-align: middle;*/
}
.PornoGresser
{
color:#010203FF;
}

.exgrungstul
{
display: inline-block;
-webkit-appearance: auto !important;
appearance: auto !important;
appearance: none;
color:#010203FF;
background: #F0F0F0;  /*  vert blacky #2f3046;*/ 
cursor: pointer; /* Cursor on hover */
box-shadow: 3px 3px 3px 2px #010203, 3px 3px 3px 2px #FAFAFA;
border-radius: 0.5cm;
margin-block: 5px;
padding-inline: 0px;

}


.kuanomargino {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.StubonButtonX {
	-webkit-appearance: none;
	background-color: #3370B7;
	background-image: none;
	border: 1px solid #7F7F7F;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #000000;
	color: #DDDDDD;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9), 0 0 3em rgba(250, 249, 249, 0.76), 0 0 0.2em rgb(14, 40, 58);
	margin: 0;
	/*overflow-wrap: break-word;
	word-break: break-all;
	hyphens: manual;
*/
}
.StubonButtonX:hover {
	/*-moz-transition: background-color 500ms linear 0ms;
	-webkit-transition: background-color 500ms linear 0ms;*/
	background-color: #ED7D31;
	transition: background-color 500ms linear 0ms;
}
.StubonButtonX:focus {
	/*-moz-transition: background-color 500ms linear 0ms;*/
	-webkit-transition: background-color 500ms linear 0ms;
	background-color: #000D31;
	transition: background-color 500ms linear 0ms;
}
.ProsteTemnoKlas {
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/
	box-shadow: 1px 1px 1px 1px #000 inset;
}

.style1 {
	vertical-align: baseline;
}

#Button20 {
	position: absolute;
	height: 53px;
	width: 109px;
	left: 1px;
	top: 20px;
	z-index: 1;
	background-color: rgb(235, 92, 26);
	border: 1px solid #7F7F7F;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #000000;
	color: rgba(255,255,255,0.9);
}
#Button20:active
{
	background-color: #7F7F7F;
	box-shadow: 1px 1px 1px 1px #000 inset;
}
#Button20:focus
{
	background-color: #7F7F7F;
}

.asetsbuchons
{
border:solid 1px red;
}
.asetsbuchons > button:hover
{
  background-color: #436E9973;
  color: #FEFFFEFE;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #000000;
} 


.audioSrcBut
{
text-shadow: 1px 2px 4px #0d0c0ced;
font-weight: bold;
width: 72px;
}


.vtomkokotorskotor {
	font: normal normal bold 100% Arial;
	position: relative;
	width: 210px;
	text-align: center;
	top: 0px;
	left: 0px;
}

.styled {
	border: 0;
	line-height: 2.5;
	padding: 0 20px;
	font-size: 1rem;
	text-align: center;
	color: #ec2121;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 1);
	background-image: linear-gradient(to top left,rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.styled:hover {
	background-color: rgba(255, 0, 0, 1);
}
.styled:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.styled:focus {
	background-color: rgba(255, 0, 0, 1);
}
.nonoher {
	display: none;
/*just for backuped ideas that should be nonreactive soraar..*/
}
.ZavazedButInviZible {
	visibility: visible;
}

.KecyVotocenee
{
  writing-mode: vertical-rl;
  /* nebo 
  writing-mode: horizontal-tb;
  writing-mode: vertical-rl;  
  writing-mode: vertical-lr;
  */ 
}
.txtShadow
{
text-shadow: 1px 2px 4px #0d0c0c;
}
.txtBold
{
font-weight: bold;
}
.CamlistButl
{
text-shadow: 1px 2px 4px #0d0c0c;
font-weight: bold;
padding: 5px;
margin: 5px;
width: 80px;
}
.CamlistButl:active
{
	border: outset 2px black;
	box-shadow: 1px 2px 3px 2px #000 inset;
	background-color: gray;
	border-radius: 4px;
}
.cameraSelectbut
{
height: 55px;
text-shadow: 1px 2px 4px #0d0c0ced;
font-weight: bold;
margin-block-end: 4px;
}

.doprdeletahla
{
margin: 3px;
box-shadow: 1px 2px 3px black;
border: outset 1px #ddd;
border-radius: 7px;
}
.UsahanHovnots
{
font-weight: bolder;
text-shadow: 1px 1px 2px black;
margin-block: 10px;
}
.lehceRed
{
background-color: #ca4949 !important;
box-shadow: 1px 1px 20px red;
}
.lehceRedSVG
{
fill: #ca4949 !important;
filter: drop-shadow(1px 1px 8px red);
}
.oneEZSbox
{
width: 5%;
text-shadow: 1px 2px 3px #0d0c0ced; 
font-weight: bold; 
}
.sliderdescr
{
position: relative;
left: 50px;
font-weight: bolder;
text-shadow: 1px 1px 2px black;
margin-block: 10px;
}
.uniAcBut
{
opacity: 1;
width: 110px;
height: 70px;
text-shadow: 1px 2px 4px #0d0c0ced;
font-weight: bold;
box-shadow: 3px 3px 3px black;
}

#keypadContainer {
display: inline-grid;
grid-template-columns: auto auto auto;
width: 33%;
}
#keypadContainer > button {

  font-size: 30px;
  text-align: center;
}
.TanglesShowaales
{
margin: 0px;
}

.subContenntPage
{
padding: 0px;
}
.inSetBoxShadow
{
box-shadow: 3px 3px 3px black inset !important;
}
.redForeColor
{
color: red;
}

.SubSettingsBackgroundDimm
{
background: linear-gradient(0.3turn, #0000001a, #ffffff26);
}
.setingsMenuBut
{
margin-inline: 5px;
width: 80px;
margin-bottom: 1px;
margin-top: 1px;
border-radius: 4px;
box-shadow: 1px 1px 3px #000;
text-shadow: 1px 2px 4px #0d0c0ced;
font-weight: bold;
}
.setingsMenuButSelected
{
box-shadow: 1px 2px 2px 2px #000 inset;
border-radius: 4px;
background-color: #8da7f5;
}
.critiHrefs
{
text-shadow: 1px 2px 3px #0d0c0ced;
font-weight: bold;
margin-left: 10px;
letter-spacing: 0.1rem;
width: 40%;
}
.critiHrefs:visited
{
color: #c6bfbf; 
}
.lehcePushd
{
	border: outset 2px black;
	box-shadow: 1px 2px 2px 2px #000 inset;
	background-color: gray;
	border-radius: 4px;
}

.fanRmnTime
{
position: absolute;
font-size: 20px;
color: white;
}
.AudioEquSlidaColum
{
display: inline-flex;
flex-flow: column;
height: 56px;
position: relative;
margin-block: 11px;
align-items: center;
width: 100%;
margin-inline: 15px;
}







@media only screen and (orientation: landscape) {
  #nobodyExamplovy { height: 16%; }
  #nobodyExamplovy_2 { height: 70%; }
}
@media only screen and (orientation: portrait) {
  #nobodyExamplovy { height: 25%; }
  #nobodyExamplovy_2  { height: 65%; }
}

@media only screen and (max-width: 500px) {
  .oneHeatBox { min-width: 116px !important; }
}
